.a-outlined,
.a-primary {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    width: 355px;
    border-radius: 48px;
    font-size: 22px;
    cursor: pointer;
}

.a-primary {
    background-color: rgba(252, 138, 34, 1);
    color: white;
}

.a-outlined {
    color: rgba(252, 138, 34, 1);
    border: 1px solid rgba(252, 138, 34, 1);
}

.btns-group {
    display: flex;
    justify-content: space-between;
    width: 726px;
    height: 90px;
    margin-top: 40px;
}

@media (max-width: 880px) {
    .btns-group {
        flex-direction: column;
        height: 200px;
        width: 100%;

        .a-outlined,
        .a-primary {
            width: 100%;
        }
    }
}