.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    margin-left: 32px;
    width: 490px;
    min-width: 240px;

    input {
        margin: 12px 0;
        height: 64px;
        border-radius: 52px;
        border: 1px solid rgba(252, 138, 34, 1);

        padding: 0 24px;
        font-size: 18px;
        font-family: "gilroy-thin", sans-serif;
    }

    input::placeholder {
        color: #B8B8B8;
        font-size: 18px;
    }

    input:focus {
        padding: 0 24px;
        border: 1px solid rgba(252, 138, 34, 1);
        font-size: 18px;
        font-family: "gilroy-thin", sans-serif;
    }

    input::-ms-value {

    }

    a {
        margin-top: 12px;
    }
}


.form-checkbox-container {
    display: flex;
    flex-direction: row;

    img {
        margin: 16px 12px 0 0;
    }

    div {
        margin-top: 24px;

        p {
            margin-top: 0;
        }
    }
}

@media (max-width: 880px) {
    .form {
        margin: 24px 0;
        width: calc(100% - 80px);
    }
}