body {
    margin: 0;
    overflow-x: hidden;
}

.header,
.footer,
.block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 42px;
    min-width: 320px;
}

.block4 {
    padding-top: 60px;
}

.block1 {
    background-image: url("../assets/lines.svg");
    background-size: contain;
    background-position-y: -200px;
    background-position-x: -200px;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.block1-desc {
    margin: 64px 8px 94px 8px;
}

.block1-cards {
    margin-right: -220px;
    background-image: url("../assets/salat.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.block2 {
    background-color: rgba(247, 247, 250, 1);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;


    background-image: url("../assets/lines.svg");
    background-position: top;

    .container {
        flex-direction: column;
        margin: 54px 0;
        align-items: center;
    }
}

.block4 {
    overflow-x: hidden;

    .container {
        flex-direction: column;
    }
}

.block3 {
    background-color: rgba(252, 138, 34, 1);
    flex-direction: row;
    padding: 60px 40px;

    .block3-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 0 12px;
}

.header-h1s-nomobile,
.header-h1s {
    display: flex;
    flex-direction: row;
}


.img-star {
    background-image: url("../assets/star.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 80px;
    margin: 8px;

    p {
        margin: 8px 28px 0 0;
    }
}

.header-contacts {
    display: flex;
    flex-direction: row;

    p {
        margin-left: 24px;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: row;

    img {
        margin-right: 8px;
    }

    p {
        margin-right: 32px;
    }
}


.block6 {
    display: flex;
    flex-direction: column;
    background-color: #F7F7FA;
    padding-top: 72px;
    padding-bottom: 28px;

    .container {
        margin-bottom: 42px;
        flex-direction: row;
    }
}

.br {
    width: 24px;
    height: 24px;
}

.h3s {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.block5 {
    margin: 40px 0 80px 0;

    .container {
        flex-direction: column;
    }
}


@media (max-width: 880px) {
    .header-h1s {
        flex-direction: column;
    }

    .block1-cards {
        display: none;
    }

    .h3s {
        flex-direction: column;

        h3 {
            margin: 24px 0;
        }
    }

    .block1 {
        .container {
            flex-direction: column;
        }

        .logo {
            width: fit-content;
            margin: 24px;
            align-self: center;
        }

        .header-contacts {
            display: none;
        }
    }


    .block3 {
        .container {
            flex-direction: column;
        }

        .block3-desc {
            width: 100%;
        }
    }

    .block6 {
        padding-bottom: 60px;

        .container {
            margin-bottom: 24px;
            flex-direction: column;
        }
    }

    .block4 {
        padding-bottom: 20px;
        margin-bottom: 0;

    }

    .footer-contacts,
    .header-contacts {
        flex-direction: column;
    }

    .footer {
        text-align: center;

        .logo {
            width: fit-content;
            margin: 0 0 28px 0;
            align-self: center;
        }

        p {
            margin: 12px 0;
        }

        .container {
            flex-direction: column;
        }
    }
}